<main [ngClass]="theme | async">
  <div class="blurb">
    This page is not required in accordance with the requirements of the project, but 2 or more pages are needed. I didn't feel like a landing page and a page for the ships was sufficient, so I decided to write this as well.<br><br>
    I tried to do a lot in this project to really show you my style of coding and my commitment (I'm working on Thanksgiving, after all). I think it's important not just show that I can do the minimum requirements, but I can excel at creating something fun and entertaining that does the job and then some.<br><br>
    Features of the site: navigation, dark and light theme, fun video home page, mat table with sorting by manufacturer, table that can add/remove columns, weird menu.<br><br>
    I understand my menu is strange, but I wanted to do something different and fun as well as the more serious stuff. I hope you enjoyed the site. The only things I didn't add that I wanted to were responsiveness amd adjustable columns.<br><br>
    To view more of my coding, specifically my themable components and responsive design, visit <a href="https://chris.im">https://chris.im</a>.<br>
  </div>
</main>
